.header__lang-link {
  margin-right: 18px;
  line-height: 1.15;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.header__lang-link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    line-height: 1.1;
    font-size: 18px;
  }
}