.place__image {
  width: 100%;
  margin: 0;
  align-self: end;
}

@media screen and (max-width: 1245px) {
   .place__image {
    align-self: start;
  }
}

@media screen and (max-width: 450px) {
   .place__image {
    align-self: center;
    min-height: 320px;
  }
}