.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.63;
}

 .place__paragraph:nth-child(2) {
    margin-top: 26px;
  }
  
@media screen and (max-width: 1024px) {
  .place__paragraph {
    width: 100%;
  }
  .place__paragraph:nth-child(2) {
    margin-top: 27px;
  }
}

@media screen and (max-width: 877px) {
  .place__paragraph {
    font-size: 16px;
  }
  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}

@media screen and (max-width: 700px) {
  .place__paragraph {
    width: 90%;
    margin: 0 auto;
  }
  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}