.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
}

 .place__paragraph:nth-child(2) {
    margin-top: 26px;
  }

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    width: 100%;
  }
  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}

@media screen and (max-width: 450px) {
  .place__paragraph {
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
  }
  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}