.place__link {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: white;
  transition: opacity 0.5s linear;
}

.place__link:hover {
  cursor: pointer;
  opacity: 0.8;
  }