.cover__overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(42, 44, 47, 0.3);
  transition: 0.5s linear;
}

.cover__overlay:hover {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 44, 47, 0.8);
}