.place {
  width: 76.88%;
  margin: 92px auto 0;
  display: grid;
  grid-template-columns: calc(46.75% - 40px) calc(49.19% - 40px);
  grid-template-rows: auto auto;
  column-gap: 40px;
  grid-row-gap: 48px;
}

@media screen and (max-width: 1100px) {
  .place {
    margin: 80px auto 0;
    width: 90.62%;
    grid-template-columns: calc(47.41% - 32px) calc(49.14% - 32px);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin: 73px auto 0;
    width: 93.75%;
    grid-template-columns: calc(47.22% - 28px) calc(48.88% - 28px);
    column-gap: 28px;
  }
}

@media screen and (max-width: 450px) {
  .place {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 32px;
  }
}