.footer {
  width: 92%;
  height: 18px;
  padding: 92px 48px 24px;
  display: grid;
  grid-template-columns: repeat(5,auto) 1fr;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93%;
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: 70%;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto) 1fr;
    grid-row-gap: 32px;
    padding: 64px 0 24px 16px;
  }
  
}